#  NPM files
node_modules
npm-debug.log

# OS/IDE's
.DS_Store
.idea
.vscode

# Build outputs
dist
!github-action/dist/
!github-action/dist/index.js
website/dist
.firebase
*.tsbuildinfo

# Test/coverage
coverage
test/.coverage
.vitest

# Logs
*.log
